@mixin border {
  border: 1px solid crimson;
}

@mixin border-span {
  border: 1px solid #e0e0e0;
}

@mixin transition {
  transition: 0.3s all;
}

@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}

.calendar-container {
  @include border;
  padding: 1rem;
  user-select: none;
}

.calendar-header {
  // @include border;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-filters {
  // @include border();

  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.calendar-actions {
  // @include border;
  span {
    @include transition();
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.calendar {
  // @include border();
  margin-top: 1rem;

  .calendar-vehicles-list {
      // @include border();
      display: grid;
      grid-template-columns: 50px repeat(6, auto); // el segundo valor se agregar por JS
  }

  .calendar-vehicles-list {
    span {
      @include border-span();
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0.5rem 0;
    }
  }

  .calendar-vehicles-occupation {
    // @include border();
    display: grid;
    grid-template-columns: 50px auto;

    .calendar-hours {
      display: grid;
      grid-template-columns: 50px;
      grid-template-rows: repeat(5, 50px);
      vertical-align: middle;

      span {
        @include border-span();
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
      }
    }

    .calendar-vehicles {
      display: grid;
      grid-template-columns: repeat(6, 1fr); // el segundo valor se agregar por JS

      .calendar-vehicle {
        display: grid;
        grid-template-rows: repeat(5, 50px);

        div, span {
          @include border-span();
        }
      }
    }
  }

  // span {
  //   @include border-span();
  //   display: block;
  //   padding: 0.5rem 0;
  // }
}

/*-------------------- Ocupados --------------------*/

.occupied {
  border: none !important;
}

.v-minute {
  display: block;

  &:nth-child(1) {
    height: 30%;
    width: 100%;
  }

  &:nth-child(2) {
    height: 70%;
    width: 100%;
    @include random-bgr();
  }
}

.v1 {
  @include random-bgr();
}

.v2 {
  @include random-bgr();
}

.v3 {
  @include random-bgr();
}

.v4 {
  @include random-bgr();
}

.v5 {
  @include random-bgr();
}
